/*Estilos generales*/
*{
    font-family: 'Montserrat', sans-serif;
}
body{
	margin:0px;
	padding: 0px;
}
.nav-item{
    color: #2e2e2e;
    font-weight: bolder;
    margin-left: 3rem;
}
.nav-link{
    text-transform: uppercase;
    transition: 0.2s;
}

.nav-link:hover{
    transform: translateY(-5px);
    transition: 0.3s;
}

a[aria-current="page"]{
    color: rgba(0, 0, 0, 1) !important;
    text-decoration: underline;
}

a[title="Contacto"]{
    color: rgba(0, 0, 0, .55) !important;
    text-decoration: none;
}

.insta-gallery-button{
    margin-top: 2rem !important;
    margin-bottom: 2.5rem !important;
}

a{
    text-decoration: none;
}
.b-titulo1{
    font-size: 2.5rem;
    color: #2e2e2e;
    font-weight: normal;
}
h1{
    font-size: 2.5rem;
    color: #2e2e2e;
}

.container-fluid, .row{
    padding: 0;
    margin: 0;
}

.shadow-5 {
    box-shadow: 0 3px 5px -1px #0003, 0 5px 8px #00000024, 0 1px 14px #0000001f;
}

#logo-header{
    width: 4rem;
}

/*Front page*/
#carouselExampleSlidesOnly .mask{
    position: absolute;
    top:35%;
    width: 100%;
}

#carouselExampleSlidesOnly img{
    height: 90vh;
    object-fit: cover;
    object-position: top;
}

/*single page*/

.form-comentarios label{
    font-weight: 700;
}

.comment-author-link{
    color: black;
    text-decoration: none;
}

.comment-reply-link{
    color: #707070;
    font-weight: bold;
    text-decoration: none;
}

.avatar{
    border-radius: 50%;
}

.autor{
    position: absolute;
    bottom: 30px;
    left: 70%;
    z-index: 5;
    color: #FFF;
    max-width: 300px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.autor-name{
    white-space: nowrap;
    width: 90%;
}

.social-media{
    position: fixed;
    left: 0;
    top: 40%;
}

.s-item {
    display:block;
    width: 40px;
    height: 50px;
    color: grey;
    font-size: 25px;
    line-height: 60px;
    text-align: center;

    transition:all linear 0.2s ;
}

.facebook:hover{color: #305891;}
.twitter:hover{color: #3AAFD6;}
.gplus:hover{color: #25D366; }

/*SLIDER*/

.mask-titulo1{
    font-size: 1.3rem;
    margin: 0px;
}
.mask-titulo2{
    font-size: 1.8rem;
    font-weight: lighter;
    margin: 0px;
}
.be-bg-black{
    background-color: #2e2e2e;
}
.be-bg-brown{
    background-color:#937b6f;
}
.text-white .be-bg-brown{
    background-color:#937b6f;
    padding-left: 2rem;
    padding-right: 2rem;
}

/*PROMOCIONES*/
.card-titulo{
    font-size: 1rem;
    color: #937b6f; 
}
.promociones h2{
    font-size: 2rem;
    color: #2e2e2e; 
}
/*PRODUCTS SLIDER*/
.box{
	width:300px;
    height: fit-content;
	box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
	overflow: hidden;
	margin: 25px;
}

.new-tag{
 position: absolute;
 left: 10px;
 top: 10px;
 background-color: #937b6f;
 color: #FFF;
}

.slide-img{
	height: 450px;
	position:relative;
}
.slide-img img{
	width:100%;
	height: 100%;
	object-fit: cover;
}
.detail-box{
	width: 100%;
    display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
}
.type{
	display: flex;
	flex-direction: column;
}
.type a{
	color:#937b6f;
	margin: 5px 0px;
	font-weight: 700;
	letter-spacing: 0.5px;
	padding-right: 8px;
}
.price{
	color: #333333;
	font-weight: 600;
	font-size: 1.1rem;
	letter-spacing: 0.5px;
}
.overlay{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	width:100%;
	height: 100%;
	background-color: rgba(147,123,111,0.6);
	display: flex;
	justify-content: center;
	align-items: center;
}
.buy-btn{
	width:160px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #FFFFFF;
	color:#252525;
	font-weight: 700;
	letter-spacing: 1px;
	border-radius: 20px;
	box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
}
.buy-btn:hover{
	color:#FFFFFF;
	background-color: #2e2e2e;
	transition: all ease 0.3s;
}
.overlay{
	visibility: hidden;
}
.slide-img:hover .overlay{
	visibility: visible;
	animation:fade 0.5s;
}
 
@keyframes fade{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
.slider{
	width:100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.b-titulo2{
    font-size: 1rem;
    color: #937b6f; 
}
.cards-wrapper {
    display: flex;
    justify-content: center;
  }
  .card img {
    max-width: 100%;
    max-height: 100%;
  }
  .card {
    margin: 0 0.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
    border-radius: 0;
  }
  .carousel-inner {
    padding: 1em;
  }
  .carousel-control-prev,
  .carousel-control-next {
    background-color: #2e2e2e;
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
  }
  @media (min-width: 768px) {
    .card img {
      height: 500px;
    }
  }
/*CATEGORIAS*/
.cardbox img{
    height: 70vh;
    object-fit: cover;
    width: 100%;
}
.cardbox-titulo{
    color: #fff;
    font-size: 1.5rem;
    margin: 0px;
    font-weight: initial;
}
/*INSTAGRAM*/
.instagram{
    background-image: url('https://eleganceboutiquemx.com/wp-content/themes/boutique/assets/images/cover1.jpg');
    background-position: center;
    background-size: cover;
}
.instagram-tiutlo{
    font-size: 2.5rem;
    font-weight: initial;
    color: #fff;
}
.instagram p{
    color: #fff;
}
.button-brown{
    background-color:#937b6f;
    font-size: 1.5rem;
    color: #fff;
}
/*BARRA DE BUSQUEDAD*/
.barra-titulo{
    font-size: 1rem;
    color: #fff;
}
.barra-titulo2{
    font-size: 2.5rem;
    color: #fff;
}
.btn-outline-secondary{
    background-color:#937b6f;
    font-size: 1.2rem;
    color: #fff;
    border: 0px;
    border-radius: 0px;
    font-weight: initial;
}
/*TESTIMONIOS*/
.user {
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: auto;
  
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  
  .one {
    background-image: url('https://eleganceboutiquemx.com/wp-content/themes/boutique/assets/images/testimonio.jpg');
  }
/*FORMULARIO*/
.bg-gris{
    background-color: #f9f5f4;
}
.mr-1{
    margin-right: 1rem;
}
.form-group{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.wpcf7 input[type="text"],
.wpcf7 input[type="email"],
.wpcf7 textarea{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 0rem;
    border-color: #2e2e2e;
    width: 100%;
}

.wpcf7-submit{
    background-color:#937b6f;
    font-size: 1.2rem;
    color: #fff;
    border: 0px;
    border-radius: 0px;
    font-weight: initial;
    width: 100%;
    padding: 5px 0px;
}

.wpcf7-form label{
    width: 100%;
    margin-bottom: 0.5rem;
}

.bg-gris p{
    font-size: 1.2rem;
    margin: 0px;
}
.margin-top-2{
    margin-top: 2rem;
}

/*Search form*/


/*FOOTER*/
.fill-brown{
    color: #937b6f;
}

.btn-search{
    position: fixed;
    right: 20px;
    bottom: 30px;
    padding: 2px;
    background-color: #937b6f;
    font-size: 23px;
    color: #fff !important;
    text-align: center;
    width: 50px;
    height: 50px;
    line-height: 37px;
    border-radius: 50%;
    z-index: 100;
}


@media (min-width: 1024px) {
    .bg-gris p{
        font-size: 1.5rem;
        margin: 0px;
    }
  }


@media (max-width: 768px){

    /*Search form*/
    #searchform{
        width: 100%;
    }

    .cardbox img{
        height: 40vh;
        object-fit: cover;
        width: 100%;
    }

    #logo-header{
        width: 3.5rem;
    }
}

@media (min-width: 768px) and (max-width: 992px){

    /*Search form*/
    #searchform{
        width: 100%;
    }

    .cardbox img{
        height: 30vh;
        object-fit: cover;
        width: 100%;
    }
}